<footer>
    <footer class="bg-dark text-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="mb-4">Alamat</h4>
            <li><a href="https://maps.app.goo.gl/351W5X1v4Nkk9551A" class="text-light">Gang Kopo II Rt03/12, Tanah Baru, Kecamatan Beji, Kota Depok, Jawa Barat 16426, Indonesia</a></li>
            <p></p>
          </div>
          <div class="col-md-4">
            <h4 class="mb-4">Contact Us</h4>
            <p>Email: <span class="text-warning">Louvrea.jabodetabek@gmail.com</span></p>
            <p>WhatsApp: <span class="text-warning">+6281310836761</span></p>
          </div>
          <div class="col-md-4">
            <h4 class="mb-4">About Us</h4>
            <ul class="list-unstyled">
              <li><a href="aboutus.html" class="text-light">About Louvrea</a></li>
              <li><a href="aboutus.html" class="text-light">Our Official Reseller</a></li>
              

            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="mb-4">Follow Us</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light"><i class="icofont-instagram"></i></a></li>
            <li><a href="#" class="text-light"><i class="icofont-whatsapp"></i></a></li>
            <li><a href="#" class="text-light">Shopee</a></li>
            <li><a href="#" class="text-light">Tokopedia</a></li>
            <li><a href="#" class="text-light">Bukalapak</a></li>
          </ul>
        </div>
      </div>
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <p>&copy; 2023 Louvrea. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>